{% extends "network/layout.html" %}

{% block body %}
{% for post in posts %}
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <a href="{% url 'profile' post.poster.id %}">
                <h5 class="card-title">{{ post.poster }}</h5>
            </a>

            <p class="card-text" style="text-align: right; font-style: italic;">{{ post.date_created }}</p>
            <p class="card-text">{{ post.content }}</p>
            <p id="like_display_{{ post.id }}" class="card-text" style="text-align: right;">This post has {{ post.like }} like!</p>
            <button id="like_{{ post.id }}" type="button" class="btn btn-primary"
                onclick="likeFunction('{{ post.id }}')">Like</button>
            {% if post.poster == request.user %}
            <button id="edit_{{ post.id }}" type="button" class="btn btn-outline-primary">Edit</button>
            {% endif %}
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}