{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div>
    <form action=" {% url 'index' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Post">
    </form>
    <hr>
</div>
<div>
    <h3>Display the follow posts here</h3>
</div>

{% else %}
<h4> Please <a href="{% url 'login' %}">Log in</a> to create new posts and follow your friends! </h4>
<h4>Or discover <a href="{% url 'all' %}">All posts</a>!</h4>
{% endif %}
{% endblock %}