{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-sm">
        <h3>Hello, {{ user.username }}!</h3>
        <form action=" {% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <input type="submit" class="btn btn-primary" value="Post">
        </form>
        <hr>
    </div>
</div>
{% for post in posts %}
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">

            <a href="{% url 'profile' post.poster.id %}">
                <h5 class="card-title">{{ post.poster }}</h5>
            </a>

            <p class="card-text" style="text-align: right; font-size: smaller; font-style: italic;">{{ post.date_created }}</p>
    
            <p id="content_{{ post.id }}" class="card-text" style="white-space: pre-wrap;">{{ post.content }}</p>
          
            <textarea id="edittext_{{ post.id }}" hidden>{{ post.content }}</textarea>

            <p id="like_display_{{ post.id }}" class="card-text" style="text-align: right; font-size: smaller; font-style: italic;">
                This post has {{ post.like }} like!</p>

            <button id="like_{{ post.id }}" type="button" class="btn btn-primary"
                onclick="likeFunction('{{ post.id }}')">Like</button>

            {% if post.poster == request.user %}
            <button id="edit_{{ post.id }}" type="button" class="btn btn-outline-primary" 
                onclick="editFunction('{{ post.id }}')">Edit</button>
            <button id="save_{{ post.id }}" type="button" class="btn btn-outline-primary" hidden
                onclick="saveFunction('{{ post.id }}')">Save</button>
            {% endif %}
        </div>
    </div>

</div>
{% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>         
        {% endif %}

        <li class="page-item"><a class="page-link" href="">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
        
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a></li>          
        {% endif %}
        
    </ul>
  </nav>

{% else %}
<div class="row">
    <p> Please <a href="{% url 'login' %}">Log in</a> to create new posts and follow your friends! </p>
</div>
<div class="row">
    <p>Or discover <a href="{% url 'all' %}">All posts</a>!</p>
</div>

{% endif %}

{% endblock %}