{% extends "network/layout.html" %}

{% block body %}
{% if request.user.is_authenticated %}
    {% if request.user != owner %}
        <h4 style="text-align: center;">You are viewing the profile page of {{ owner.username }}! </h4>
        <p id="follower">This user has {{ follower_count }} followers</p>
        <button id="follow" type="button" class="btn btn-outline-primary" onclick="followFunction('{{ owner.id }}')">Follow</button>
    {% else %}
        <h4 style="text-align: center;">This is your profile page!</h4>
    {% endif %}
{% else %}
    <h5 style="text-align: center;">You are viewing the profile page of {{ owner.username }}! </h5>
    <br>
    <h5 style="text-align: center;">Please <a href="{% url 'login' %}">Log in</a> if you want to follow!</h5>
{% endif %}
<hr>
{% for post in posts %}
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <a href="{% url 'profile' post.poster.id %}">
                <h5 class="card-title">{{ post.poster }}</h5>
            </a>

            <p class="card-text" style="text-align: right; font-style: italic;">{{ post.date }}</p>
            <p class="card-text">{{ post.content }}</p>
            <p id="like_display_{{ post.id }}" class="card-text" style="text-align: right;">This post has {{ post.like }} like!</p>
            <button id="like_{{ post.id }}" type="button" class="btn btn-primary"
                onclick="likeFunction('{{ post.id }}')">Like</button>
            {% if post.poster == request.user %}
            <button id="edit_{{ post.id }}" type="button" class="btn btn-outline-primary">Edit</button>
            {% endif %}
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}